.map {
  margin-left: 0;
  transition: margin-left 200ms ease-in-out;
}

.map.open {
  margin-left: 580px;
}

.component {
  height: 100vh;
}

@media (max-width: 1024px) {
  .map.open {
    margin-left: 0;
  }
}
